In [2]:
import numpy as np
import pandas as pd

In [264]:
pot_pd=pd.read_csv('data/인천포트홀발생.csv', encoding='utf-8')
# pot_pd

In [265]:
del pot_pd['hazard_type']
del pot_pd['region_humid']
del pot_pd['link_degree']
del pot_pd['region_wind_speed']
del pot_pd['hazard_image_width']
del pot_pd['f_node']
del pot_pd['road_rank']
del pot_pd['car_vibrate_y']
del pot_pd['t_node']
del pot_pd['car_vibrate_z']
del pot_pd['car_vibrate_x']
del pot_pd['region_temp']
del pot_pd['IMU_data']
del pot_pd['link_length']
del pot_pd['car_temp']
del pot_pd['road_type']
del pot_pd['hazard_grade']
del pot_pd['dist_level1']
del pot_pd['dist_level2']
del pot_pd['hazard_count']
del pot_pd['id']
del pot_pd['hazard_image_height']
del pot_pd['road_name']
del pot_pd['hazard_image']
del pot_pd['car_direction']
del pot_pd['car_speed']
del pot_pd['label']
del pot_pd['district']
del pot_pd['hazard_state']
del pot_pd['tnode_name']
del pot_pd['fnode_name']
del pot_pd['link_longitude']
del pot_pd['link_latitude']
del pot_pd['region_wind_dir']

In [266]:
pot_pd=pot_pd.drop(pot_pd.columns[0], axis=1)
pot_pd

,latitude,created_at,link_id,dist_level3,longitude,full_addr
0,37.409824,2021-10-26T23:59:37.156770+00:00,1640014400,연수2동,126.684960,인천광역시 연수구 연수2동
1,37.420063,2021-10-26T23:56:39.216177+00:00,1640025800,연수3동,126.695970,인천광역시 연수구 연수3동
2,37.403645,2021-10-26T23:34:43.555113+00:00,1650028700,논현고잔동,126.689156,인천광역시 남동구 논현고잔동
3,37.409744,2021-10-26T23:12:24.053786+00:00,1650080300,논현1동,126.734550,인천광역시 남동구 논현1동
4,37.420310,2021-10-26T07:58:20.140314+00:00,1640025800,연수3동,126.696190,인천광역시 연수구 연수3동
...,...,...,...,...,...,...
1401,37.459873,2021-08-11T08:54:43.555127+00:00,1630033400,숭의2동,126.648380,인천광역시 미추홀구 숭의2동
1402,37.421093,2021-08-11T08:28:51.281109+00:00,1640035900,연수3동,126.696850,인천광역시 연수구 연수3동
1403,37.478928,2021-08-11T07:51:53.484211+00:00,1650010901,부평3동,126.710495,인천광역시 부평구 부평3동
1404,37.486385,2021-08-11T07:50:07.666021+00:00,1660012900,부평3동,126.707780,인천광역시 부평구 부평3동
1405,37.436370,2021-08-11T07:40:13.376241+00:00,1630166900,학익1동,126.648720,인천광역시 미추홀구 학익1동

In [267]:
pot_pd['created_at']

0       2021-10-26T23:59:37.156770+00:00
1       2021-10-26T23:56:39.216177+00:00
2       2021-10-26T23:34:43.555113+00:00
3       2021-10-26T23:12:24.053786+00:00
4       2021-10-26T07:58:20.140314+00:00
                      ...
1401    2021-08-11T08:54:43.555127+00:00
1402    2021-08-11T08:28:51.281109+00:00
1403    2021-08-11T07:51:53.484211+00:00
1404    2021-08-11T07:50:07.666021+00:00
1405    2021-08-11T07:40:13.376241+00:00
Name: created_at, Length: 1406, dtype: object

In [262]:
pd.to_datetime(pot_pd['created_at'], errors='raise')

0      2021-10-26 23:59:37.156770+00:00
1      2021-10-26 23:56:39.216177+00:00
2      2021-10-26 23:34:43.555113+00:00
3      2021-10-26 23:12:24.053786+00:00
4      2021-10-26 07:58:20.140314+00:00
                     ...
1401   2021-08-11 08:54:43.555127+00:00
1402   2021-08-11 08:28:51.281109+00:00
1403   2021-08-11 07:51:53.484211+00:00
1404   2021-08-11 07:50:07.666021+00:00
1405   2021-08-11 07:40:13.376241+00:00
Name: created_at, Length: 1406, dtype: datetime64[ns, UTC]

In [268]:
pot_pd['created_at']=pd.to_datetime(pot_pd['created_at'], errors='raise')
pot_pd['created_at']

0      2021-10-26 23:59:37.156770+00:00
1      2021-10-26 23:56:39.216177+00:00
2      2021-10-26 23:34:43.555113+00:00
3      2021-10-26 23:12:24.053786+00:00
4      2021-10-26 07:58:20.140314+00:00
                     ...
1401   2021-08-11 08:54:43.555127+00:00
1402   2021-08-11 08:28:51.281109+00:00
1403   2021-08-11 07:51:53.484211+00:00
1404   2021-08-11 07:50:07.666021+00:00
1405   2021-08-11 07:40:13.376241+00:00
Name: created_at, Length: 1406, dtype: datetime64[ns, UTC]

In [290]:
date_li=pot_pd.iloc[:,1]
date_li

0      2021-10-26 23:59:37.156770+00:00
1      2021-10-26 23:56:39.216177+00:00
2      2021-10-26 23:34:43.555113+00:00
3      2021-10-26 23:12:24.053786+00:00
4      2021-10-26 07:58:20.140314+00:00
                     ...
1401   2021-08-11 08:54:43.555127+00:00
1402   2021-08-11 08:28:51.281109+00:00
1403   2021-08-11 07:51:53.484211+00:00
1404   2021-08-11 07:50:07.666021+00:00
1405   2021-08-11 07:40:13.376241+00:00
Name: created_at, Length: 1406, dtype: datetime64[ns, UTC]

In [307]:
d_list=[]

In [308]:
for i in range(len(date_li)):
    t=str(date_li[i])[:10]
    d_list.append(t)
d_list

['2021-10-26',
 '2021-10-26',
 '2021-10-26',
 '2021-10-26',
 '2021-10-26',
 '2021-10-26',
 '2021-10-26',
 '2021-10-26',
 '2021-10-26',
 '2021-10-26',
 '2021-10-26',
 '2021-10-26',
 '2021-10-25',
 '2021-10-25',
 '2021-10-25',
 '2021-10-25',
 '2021-10-25',
 '2021-10-25',
 '2021-10-25',
 '2021-10-25',
 '2021-10-25',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-24',
 '2021-10-23',
 '2021-10-23',
 '2021-10-23',
 '2021-10-23',
 '2021-10-23',
 '2021-10-23',
 '2021-10-23',
 '2021-10-23',
 '2021-10-23',
 '2021-10-23',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-22',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-19',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-10-18',
 '2021-09-14',
 '2021-09-14',
 '2021-09-14',
 '2021-09-14',
 '2021-09-14',
 '2021-09-14',
 '2021-09-14',
 '2021-09-14',
 '2021-09-14',
 '2021-09-14',
 '2021-09-14',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-13',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-12',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-11',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-10',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-09',
 '2021-09-08',
 '2021-09-08',
 '2021-09-08',
 '2021-09-08',
 '2021-09-08',
 '2021-09-08',
 '2021-09-08',
 '2021-09-08',
 '2021-09-08',
 '2021-09-08',
 '2021-09-08',
 '2021-09-08',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-31',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-30',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-29',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-28',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-27',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-26',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-25',
 '2021-08-23',
 '2021-08-23',
 '2021-08-23',
 '2021-08-23',
 '2021-08-23',
 '2021-08-23',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 '2021-08-22',
 ...]

In [309]:
pot_pd['date']=d_list
pot_pd

,latitude,created_at,link_id,dist_level3,longitude,full_addr,date
0,37.409824,2021-10-26 23:59:37.156770+00:00,1640014400,연수2동,126.684960,인천광역시 연수구 연수2동,2021-10-26
1,37.420063,2021-10-26 23:56:39.216177+00:00,1640025800,연수3동,126.695970,인천광역시 연수구 연수3동,2021-10-26
2,37.403645,2021-10-26 23:34:43.555113+00:00,1650028700,논현고잔동,126.689156,인천광역시 남동구 논현고잔동,2021-10-26
3,37.409744,2021-10-26 23:12:24.053786+00:00,1650080300,논현1동,126.734550,인천광역시 남동구 논현1동,2021-10-26
4,37.420310,2021-10-26 07:58:20.140314+00:00,1640025800,연수3동,126.696190,인천광역시 연수구 연수3동,2021-10-26
...,...,...,...,...,...,...,...
1401,37.459873,2021-08-11 08:54:43.555127+00:00,1630033400,숭의2동,126.648380,인천광역시 미추홀구 숭의2동,2021-08-11
1402,37.421093,2021-08-11 08:28:51.281109+00:00,1640035900,연수3동,126.696850,인천광역시 연수구 연수3동,2021-08-11
1403,37.478928,2021-08-11 07:51:53.484211+00:00,1650010901,부평3동,126.710495,인천광역시 부평구 부평3동,2021-08-11
1404,37.486385,2021-08-11 07:50:07.666021+00:00,1660012900,부평3동,126.707780,인천광역시 부평구 부평3동,2021-08-11
1405,37.436370,2021-08-11 07:40:13.376241+00:00,1630166900,학익1동,126.648720,인천광역시 미추홀구 학익1동,2021-08-11

In [310]:
del pot_pd['created_at']

In [311]:
pot_pd

,latitude,link_id,dist_level3,longitude,full_addr,date
0,37.409824,1640014400,연수2동,126.684960,인천광역시 연수구 연수2동,2021-10-26
1,37.420063,1640025800,연수3동,126.695970,인천광역시 연수구 연수3동,2021-10-26
2,37.403645,1650028700,논현고잔동,126.689156,인천광역시 남동구 논현고잔동,2021-10-26
3,37.409744,1650080300,논현1동,126.734550,인천광역시 남동구 논현1동,2021-10-26
4,37.420310,1640025800,연수3동,126.696190,인천광역시 연수구 연수3동,2021-10-26
...,...,...,...,...,...,...
1401,37.459873,1630033400,숭의2동,126.648380,인천광역시 미추홀구 숭의2동,2021-08-11
1402,37.421093,1640035900,연수3동,126.696850,인천광역시 연수구 연수3동,2021-08-11
1403,37.478928,1650010901,부평3동,126.710495,인천광역시 부평구 부평3동,2021-08-11
1404,37.486385,1660012900,부평3동,126.707780,인천광역시 부평구 부평3동,2021-08-11
1405,37.436370,1630166900,학익1동,126.648720,인천광역시 미추홀구 학익1동,2021-08-11

In [235]:
border_pd=pd.read_csv('data/update_city_map.csv',encoding='utf-8')

In [183]:
border_pd

,BASE_DATE,ADM_DR_CD,ADM_DR_NM,OBJECTID,coords
0,20210630,2301060,개항동,778,"[(164753.78008684254, 440786.31712880003), (16..."
1,20210630,1101053,사직동,1,"[(197702.06913067115, 453187.31147514295), (19..."
2,20210630,1101054,삼청동,2,"[(197980.8393684182, 455346.0680520516), (1979..."
3,20210630,1101055,부암동,3,"[(196621.07323927252, 456395.87961880484), (19..."
4,20210630,1101056,평창동,4,"[(197800.76943860835, 459064.24532518734), (19..."
...,...,...,...,...,...
3495,20210630,3902058,서홍동,3497,"[(156250.95590428927, -19382.839708787913), (1..."
3496,20210630,3902059,대륜동,3498,"[(154784.26821369672, -30647.124192811083), (1..."
3497,20210630,3902060,대천동,3499,"[(153664.03715087147, -29660.521141543635), (1..."
3498,20210630,3902061,중문동,3500,"[(150267.9303724714, -14695.696050588216), (15..."
3499,20210630,3902062,예래동,3501,"[(141568.93014514016, -29175.450043837423), (1..."

In [228]:
region=[]
index=[]
name=[]

In [312]:
# pot_pd.to_csv('data/pot_pd.csv', encoding='utf-8',index=False)

In [314]:
pot_pd=pd.read_csv('data/pot_pd.csv', encoding='utf-8')

In [316]:
pot_pd.iloc[121,:]

latitude          37.37804
link_id         2240146100
dist_level3            배곧동
longitude        126.73379
full_addr      경기도 시흥시 배곧동
date            2021-10-19
Name: 121, dtype: object

In [317]:
for i, val in pot_pd.iterrows():
    for j, vals in border_pd.iterrows():
        if(val['dist_level3']==vals['ADM_DR_NM']):
            print(i,val['dist_level3'],vals['ADM_DR_NM'])
            region.append(vals['ADM_DR_CD'])
            index.append(i)

0 연수2동 연수2동
1 연수3동 연수3동
2 논현고잔동 논현고잔동
3 논현1동 논현1동
3 논현1동 논현1동
4 연수3동 연수3동
5 신월3동 신월3동
6 남촌도림동 남촌도림동
7 대산동 대산동
8 청라2동 청라2동
9 검암경서동 검암경서동
10 연수2동 연수2동
11 남촌도림동 남촌도림동
12 동춘1동 동춘1동
13 동춘1동 동춘1동
14 연수1동 연수1동
15 연수3동 연수3동
16 연수1동 연수1동
17 오정동 오정동
17 오정동 오정동
18 논현고잔동 논현고잔동
19 부평2동 부평2동
20 간석2동 간석2동
21 간석1동 간석1동
22 옥련1동 옥련1동
23 논현2동 논현2동
23 논현2동 논현2동
24 연수2동 연수2동
25 논현1동 논현1동
25 논현1동 논현1동
26 논현고잔동 논현고잔동
27 송도2동 송도2동
28 동춘1동 동춘1동
29 청학동 청학동
30 십정2동 십정2동
31 만수5동 만수5동
32 가정1동 가정1동
33 연희동 연희동
33 연희동 연희동
34 대산동 대산동
35 학익1동 학익1동
36 연희동 연희동
36 연희동 연희동
37 오류왕길동 오류왕길동
38 대곶면 대곶면
39 대곶면 대곶면
40 논현2동 논현2동
40 논현2동 논현2동
41 논현1동 논현1동
41 논현1동 논현1동
42 대곶면 대곶면
43 대곶면 대곶면
44 연희동 연희동
44 연희동 연희동
45 연희동 연희동
45 연희동 연희동
46 가정2동 가정2동
47 청학동 청학동
48 연희동 연희동
48 연희동 연희동
49 신중동 신중동
50 신중동 신중동
51 부평5동 부평5동
52 십정2동 십정2동
53 송도2동 송도2동
54 논현고잔동 논현고잔동
55 동춘2동 동춘2동
56 오류왕길동 오류왕길동
57 오류왕길동 오류왕길동
58 검단동 검단동
58 검단동 검단동
59 양촌읍 양촌읍
60 양촌읍 양촌읍
61 교동면 교동면
62 연수1동 연수1동
63 신현원창동 신현원창동
64 송도2동 송도2동
65 송도1동 송도1동
66 논현고잔동 논현고잔동
67 주안4동 주안4동
68 선학동 선학동
69 연수2동 연수2동
70 신사동 신사동
70 신사동 신사동
71 송림4동 송림4동
72 송림3·5동 송림3·5동
73 동인천동 동인천동
74 동춘1동 동춘1동
75 연수2동 연수2동
76 연수3동 연수3동
77 연수3동 연수3동
78 송도3동 송도3동
79 연수1동 연수1동
80 간석2동 간석2동
81 동춘1동 동춘1동
82 연수3동 연수3동
83 연수3동 연수3동
84 연수3동 연수3동
85 문학동 문학동
86 관교동 관교동
87 선학동 선학동
88 만수6동 만수6동
89 상동 상동
89 상동 상동
89 상동 상동
90 청학동 청학동
91 옥련2동 옥련2동
92 주안6동 주안6동
93 주안6동 주안6동
94 일신동 일신동
95 동춘3동 동춘3동
96 주안1동 주안1동
97 주안1동 주안1동
98 동춘2동 동춘2동
99 송도5동 송도5동
100 송도5동 송도5동
101 연안동 연안동
102 신흥동 신흥동
102 신흥동 신흥동
102 신흥동 신흥동
102 신흥동 신흥동
103 구월1동 구월1동
104 선학동 선학동
105 구월1동 구월1동
106 만수3동 만수3동
107 장수서창동 장수서창동
108 서창2동 서창2동
109 서창2동 서창2동
110 서창2동 서창2동
111 남촌도림동 남촌도림동
113 학익1동 학익1동
114 도화1동 도화1동
115 효성2동 효성2동
116 삼산1동 삼산1동
117 상동 상동
117 상동 상동
117 상동 상동
118 남촌도림동 남촌도림동
119 남촌도림동 남촌도림동
120 정왕2동 정왕2동
121 배곧동 배곧동
122 논현고잔동 논현고잔동
123 송도3동 송도3동
124 동춘1동 동춘1동
125 동춘1동 동춘1동
126 동춘2동 동춘2동
127 송도3동 송도3동
128 연수2동 연수2동
129 남촌도림동 남촌도림동
130 논현1동 논현1동
130 논현1동 논현1동
131 신천동 신천동
132 학온동 학온동
133 동춘2동 동춘2동
134 안양2동 안양2동
135 비산3동 비산3동
136 관양2동 관양2동
137 안양8동 안양8동
138 목감동 목감동
139 목감동 목감동
140 목감동 목감동
141 목감동 목감동
142 목감동 목감동
143 목감동 목감동
144 목감동 목감동
145 목감동 목감동
146 목감동 목감동
147 목감동 목감동
148 목감동 목감동
149 목감동 목감동
150 송도2동 송도2동
151 송도3동 송도3동
152 남촌도림동 남촌도림동
153 관교동 관교동
154 남촌도림동 남촌도림동
155 간석1동 간석1동
156 도원동 도원동
156 도원동 도원동
157 논현고잔동 논현고잔동
158 논현고잔동 논현고잔동
159 논현고잔동 논현고잔동
160 논현고잔동 논현고잔동
161 논현고잔동 논현고잔동
162 옥련2동 옥련2동
163 관교동 관교동
164 관교동 관교동
165 구월3동 구월3동
166 구월3동 구월3동
167 선학동 선학동
168 구월1동 구월1동
169 관교동 관교동
170 용현2동 용현2동
171 남촌도림동 남촌도림동
172 청학동 청학동
173 논현고잔동 논현고잔동
174 남촌도림동 남촌도림동
175 남촌도림동 남촌도림동
176 용현5동 용현5동
177 십정1동 십정1동
178 십정2동 십정2동
179 십정2동 십정2동
180 십정1동 십정1동
181 선학동 선학동
182 선학동 선학동
183 선학동 선학동
184 동춘2동 동춘2동
185 연수3동 연수3동
186 도화1동 도화1동
187 주안6동 주안6동
188 구월4동 구월4동
189 만수6동 만수6동
190 만수6동 만수6동
191 연수3동 연수3동
192 연수3동 연수3동
193 연수2동 연수2동
194 연수2동 연수2동
195 연수2동 연수2동
196 논현고잔동 논현고잔동
197 연수3동 연수3동
198 옥련1동 옥련1동
199 연수3동 연수3동
200 부개2동 부개2동
201 삼산2동 삼산2동
202 논현고잔동 논현고잔동
203 선학동 선학동
204 옥련2동 옥련2동
205 간석1동 간석1동
206 불로대곡동 불로대곡동
207 송도1동 송도1동
208 송도1동 송도1동
209 동춘1동 동춘1동
210 동춘1동 동춘1동
211 동춘1동 동춘1동
212 동춘1동 동춘1동
213 동춘1동 동춘1동
214 학익1동 학익1동
215 학익1동 학익1동
216 가좌1동 가좌1동
217 가좌3동 가좌3동
218 가좌4동 가좌4동
219 가좌3동 가좌3동
220 가정1동 가정1동
221 가정1동 가정1동
222 가정1동 가정1동
223 동춘2동 동춘2동
224 송도2동 송도2동
225 작전1동 작전1동
226 삼산2동 삼산2동
227 상동 상동
227 상동 상동
227 상동 상동
228 송도2동 송도2동
229 신중동 신중동
230 상동 상동
230 상동 상동
230 상동 상동
231 삼산2동 삼산2동
232 삼산2동 삼산2동
233 계산1동 계산1동
234 연희동 연희동
234 연희동 연희동
235 연희동 연희동
235 연희동 연희동
236 연희동 연희동
236 연희동 연희동
237 연희동 연희동
237 연희동 연희동
238 가좌3동 가좌3동
239 도화1동 도화1동
240 주안4동 주안4동
241 옥련1동 옥련1동
242 옥련1동 옥련1동
243 옥련2동 옥련2동
244 청학동 청학동
245 청학동 청학동
246 남촌도림동 남촌도림동
247 연수3동 연수3동
248 부평3동 부평3동
249 구월3동 구월3동
250 구월3동 구월3동
251 동춘1동 동춘1동
252 연수1동 연수1동
253 선학동 선학동
254 논현2동 논현2동
254 논현2동 논현2동
255 연수3동 연수3동
256 논현2동 논현2동
256 논현2동 논현2동
257 연수3동 연수3동
258 선학동 선학동
259 선학동 선학동
260 삼산2동 삼산2동
261 송도2동 송도2동
262 송도1동 송도1동
263 송도2동 송도2동
264 연수3동 연수3동
265 연수3동 연수3동
266 송림6동 송림6동
267 동인천동 동인천동
268 주안5동 주안5동
269 청학동 청학동
270 청학동 청학동
271 송도1동 송도1동
272 송도1동 송도1동
273 동춘1동 동춘1동
274 동춘1동 동춘1동
275 연수1동 연수1동
276 연수1동 연수1동
277 청학동 청학동
278 청학동 청학동
279 연수1동 연수1동
280 연수2동 연수2동
281 옥련2동 옥련2동
282 옥련2동 옥련2동
283 옥련1동 옥련1동
284 선학동 선학동
285 남촌도림동 남촌도림동
286 간석4동 간석4동
287 십정2동 십정2동
288 간석3동 간석3동
289 송도2동 송도2동
290 동춘1동 동춘1동
291 동춘1동 동춘1동
292 청학동 청학동
293 청학동 청학동
294 동춘1동 동춘1동
295 옥련2동 옥련2동
296 옥련1동 옥련1동
297 옥련1동 옥련1동
298 만수1동 만수1동
299 청학동 청학동
300 논현2동 논현2동
300 논현2동 논현2동
301 주안5동 주안5동
302 주안5동 주안5동
303 연안동 연안동
304 도화1동 도화1동
305 도화1동 도화1동
306 용현3동 용현3동
307 학익1동 학익1동
308 가좌3동 가좌3동
309 숭의1·3동 숭의1·3동
310 신흥동 신흥동
310 신흥동 신흥동
310 신흥동 신흥동
310 신흥동 신흥동
311 송도5동 송도5동
312 동춘1동 동춘1동
313 동춘1동 동춘1동
314 동춘1동 동춘1동
315 청학동 청학동
316 청학동 청학동
317 장수서창동 장수서창동
318 은행동 은행동
319 학온동 학온동
320 석수2동 석수2동
321 석수2동 석수2동
322 석수2동 석수2동
323 개포1동 개포1동
324 양재1동 양재1동
325 소하1동 소하1동
326 석수2동 석수2동
327 소하2동 소하2동
328 소하2동 소하2동
329 소하2동 소하2동
330 장수서창동 장수서창동
331 선학동 선학동
332 선학동 선학동
333 연수3동 연수3동
334 연수3동 연수3동
335 연수3동 연수3동
336 연수2동 연수2동
337 연수2동 연수2동
338 선학동 선학동
339 논현고잔동 논현고잔동
340 만수5동 만수5동
341 만수5동 만수5동
342 동춘2동 동춘2동
343 대야동 대야동
343 대야동 대야동
344 대야동 대야동
344 대야동 대야동
345 연수1동 연수1동
346 장수서창동 장수서창동
347 장수서창동 장수서창동
348 간석2동 간석2동
349 구월1동 구월1동
350 연수2동 연수2동
351 연수2동 연수2동
352 논현2동 논현2동
352 논현2동 논현2동
353 논현2동 논현2동
353 논현2동 논현2동
354 논현고잔동 논현고잔동
355 송도1동 송도1동
356 동춘1동 동춘1동
357 옥련1동 옥련1동
358 청학동 청학동
359 간석4동 간석4동
360 가좌3동 가좌3동
361 가좌4동 가좌4동
362 가좌4동 가좌4동
363 입북동 입북동
364 선학동 선학동
365 동춘1동 동춘1동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
366 중앙동 중앙동
367 진위면 진위면
368 남사읍 남사읍
369 남사읍 남사읍
370 청학동 청학동
371 청학동 청학동
372 비전1동 비전1동
373 공도읍 공도읍
374 공도읍 공도읍
375 입장면 입장면
376 입장면 입장면
377 입장면 입장면
378 입장면 입장면
379 입장면 입장면
380 효성2동 효성2동
381 연수3동 연수3동
382 주안1동 주안1동
383 주안1동 주안1동
384 옥련2동 옥련2동
385 옥련2동 옥련2동
386 부성1동 부성1동
387 부성2동 부성2동
388 송도3동 송도3동
389 논현고잔동 논현고잔동
390 논현고잔동 논현고잔동
391 남촌도림동 남촌도림동
392 구월3동 구월3동
393 주안1동 주안1동
394 구월3동 구월3동
395 주안4동 주안4동
396 도화1동 도화1동
397 관교동 관교동
398 주안8동 주안8동
399 구월3동 구월3동
400 안중읍 안중읍
401 관교동 관교동
402 포승읍 포승읍
403 포승읍 포승읍
404 구월3동 구월3동
405 청북읍 청북읍
406 향남읍 향남읍
407 연수2동 연수2동
408 연수2동 연수2동
409 송도3동 송도3동
410 송도3동 송도3동
411 송도1동 송도1동
412 동춘1동 동춘1동
413 논현고잔동 논현고잔동
414 논현1동 논현1동
414 논현1동 논현1동
415 비봉면 비봉면
415 비봉면 비봉면
415 비봉면 비봉면
416 비봉면 비봉면
416 비봉면 비봉면
416 비봉면 비봉면
417 매송면 매송면
418 매송면 매송면
419 반월동 반월동
419 반월동 반월동
420 반월동 반월동
420 반월동 반월동
421 반월동 반월동
421 반월동 반월동
422 반월동 반월동
422 반월동 반월동
423 반월동 반월동
423 반월동 반월동
424 반월동 반월동
424 반월동 반월동
425 대야동 대야동
425 대야동 대야동
426 대야동 대야동
426 대야동 대야동
427 안산동 안산동
428 월피동 월피동
429 정왕2동 정왕2동
430 정왕2동 정왕2동
431 대부동 대부동
432 선부3동 선부3동
433 남촌도림동 남촌도림동
434 대부동 대부동
435 대부동 대부동
436 대부동 대부동
437 대부동 대부동
438 정왕3동 정왕3동
439 정왕3동 정왕3동
440 정왕3동 정왕3동
441 논현1동 논현1동
441 논현1동 논현1동
442 선학동 선학동
443 연수3동 연수3동
444 학익1동 학익1동
445 남촌도림동 남촌도림동
446 남촌도림동 남촌도림동
447 선학동 선학동
448 남촌도림동 남촌도림동
449 구월1동 구월1동
450 옥련2동 옥련2동
451 장수서창동 장수서창동
452 옥련2동 옥련2동
453 학익2동 학익2동
454 남촌도림동 남촌도림동
455 남촌도림동 남촌도림동
456 남촌도림동 남촌도림동
457 남촌도림동 남촌도림동
458 학익1동 학익1동
459 학익2동 학익2동
460 학익2동 학익2동
461 학익1동 학익1동
462 문학동 문학동
463 남촌도림동 남촌도림동
464 문학동 문학동
465 남촌도림동 남촌도림동
466 남촌도림동 남촌도림동
467 남촌도림동 남촌도림동
468 학익1동 학익1동
469 옥련2동 옥련2동
470 논현2동 논현2동
470 논현2동 논현2동
471 옥련2동 옥련2동
472 주안7동 주안7동
473 옥련2동 옥련2동
474 옥련2동 옥련2동
475 옥련2동 옥련2동
476 옥련2동 옥련2동
477 남촌도림동 남촌도림동
478 동춘2동 동춘2동
479 문학동 문학동
480 송도3동 송도3동
481 연수2동 연수2동
482 동춘2동 동춘2동
483 송도1동 송도1동
484 송도3동 송도3동
485 송도3동 송도3동
486 송도1동 송도1동
487 선학동 선학동
488 선학동 선학동
489 연수2동 연수2동
490 연수3동 연수3동
491 선학동 선학동
492 연수3동 연수3동
493 연수3동 연수3동
494 연수2동 연수2동
495 연수2동 연수2동
496 동춘3동 동춘3동
497 동춘2동 동춘2동
498 논현고잔동 논현고잔동
499 논현고잔동 논현고잔동
500 논현고잔동 논현고잔동
501 남촌도림동 남촌도림동
502 옥련2동 옥련2동
503 학익1동 학익1동
504 학익1동 학익1동
505 옥련2동 옥련2동
506 부개2동 부개2동
507 부개2동 부개2동
508 산곡2동 산곡2동
509 청천2동 청천2동
510 일신동 일신동
511 논현고잔동 논현고잔동
512 논현고잔동 논현고잔동
513 논현고잔동 논현고잔동
514 논현고잔동 논현고잔동
515 논현2동 논현2동
515 논현2동 논현2동
516 논현2동 논현2동
516 논현2동 논현2동
517 논현2동 논현2동
517 논현2동 논현2동
518 논현2동 논현2동
518 논현2동 논현2동
519 월곶동 월곶동
520 배곧동 배곧동
521 정왕본동 정왕본동
522 정왕본동 정왕본동
523 정왕본동 정왕본동
524 만수2동 만수2동
525 만수3동 만수3동
526 구월1동 구월1동
527 구월1동 구월1동
528 연안동 연안동
529 신흥동 신흥동
529 신흥동 신흥동
529 신흥동 신흥동
529 신흥동 신흥동
530 신흥동 신흥동
530 신흥동 신흥동
530 신흥동 신흥동
530 신흥동 신흥동
531 주안6동 주안6동
532 동춘1동 동춘1동
533 동춘3동 동춘3동
534 동춘3동 동춘3동
535 십정1동 십정1동
536 십정1동 십정1동
537 십정1동 십정1동
538 십정1동 십정1동
539 십정1동 십정1동
540 십정1동 십정1동
541 십정1동 십정1동
542 십정1동 십정1동
543 십정1동 십정1동
544 십정1동 십정1동
545 십정1동 십정1동
546 십정1동 십정1동
547 주안5동 주안5동
548 주안6동 주안6동
549 연수3동 연수3동
550 연수3동 연수3동
551 연수3동 연수3동
552 관교동 관교동
553 구월3동 구월3동
554 주안8동 주안8동
555 구월1동 구월1동
556 주안4동 주안4동
557 주안4동 주안4동
558 주안2동 주안2동
559 주안2동 주안2동
560 관교동 관교동
561 주안1동 주안1동
562 주안1동 주안1동
563 주안1동 주안1동
564 주안4동 주안4동
565 주안4동 주안4동
566 문학동 문학동
567 연수2동 연수2동
568 연수2동 연수2동
569 구월3동 구월3동
570 선학동 선학동
571 관교동 관교동
572 구월3동 구월3동
573 연수2동 연수2동
574 연수2동 연수2동
575 송도3동 송도3동
576 동춘3동 동춘3동
577 연수2동 연수2동
578 연수2동 연수2동
579 청학동 청학동
580 청학동 청학동
581 연수2동 연수2동
582 연수2동 연수2동
583 연수2동 연수2동
584 동춘3동 동춘3동
585 동춘1동 동춘1동
586 구월1동 구월1동
587 남촌도림동 남촌도림동
588 남촌도림동 남촌도림동
589 남촌도림동 남촌도림동
590 남촌도림동 남촌도림동
591 연안동 연안동
592 연안동 연안동
593 신흥동 신흥동
593 신흥동 신흥동
593 신흥동 신흥동
593 신흥동 신흥동
594 동춘2동 동춘2동
595 학익1동 학익1동
596 동춘3동 동춘3동
597 남촌도림동 남촌도림동
598 동춘1동 동춘1동
599 배곧동 배곧동
600 동춘2동 동춘2동
601 남촌도림동 남촌도림동
602 송도1동 송도1동
603 동춘1동 동춘1동
604 동춘2동 동춘2동
605 송도2동 송도2동
606 송도2동 송도2동
607 송도2동 송도2동
608 송도2동 송도2동
609 동춘2동 동춘2동
610 논현고잔동 논현고잔동
611 논현고잔동 논현고잔동
612 논현고잔동 논현고잔동
613 논현고잔동 논현고잔동
614 논현고잔동 논현고잔동
615 논현2동 논현2동
615 논현2동 논현2동
616 논현2동 논현2동
616 논현2동 논현2동
617 선학동 선학동
618 선학동 선학동
619 선학동 선학동
620 선학동 선학동
621 동춘1동 동춘1동
622 동춘1동 동춘1동
623 동춘1동 동춘1동
624 동춘1동 동춘1동
625 청학동 청학동
626 남촌도림동 남촌도림동
627 남촌도림동 남촌도림동
628 송도3동 송도3동
629 송도1동 송도1동
630 송도1동 송도1동
631 송도2동 송도2동
632 송도2동 송도2동
633 송도2동 송도2동
634 송도2동 송도2동
635 연안동 연안동
636 동춘3동 동춘3동
637 옥련2동 옥련2동
638 송도2동 송도2동
639 송도2동 송도2동
640 동춘1동 동춘1동
641 동춘1동 동춘1동
642 동춘1동 동춘1동
643 청학동 청학동
644 선학동 선학동
645 연수3동 연수3동
646 연수3동 연수3동
647 선학동 선학동
648 선학동 선학동
649 선학동 선학동
650 연수3동 연수3동
651 연수3동 연수3동
652 연수3동 연수3동
653 청학동 청학동
654 선학동 선학동
655 구월3동 구월3동
656 간석2동 간석2동
657 부평3동 부평3동
658 부평3동 부평3동
659 부평3동 부평3동
660 청천2동 청천2동
661 용현2동 용현2동
662 부평3동 부평3동
663 간석3동 간석3동
664 간석3동 간석3동
665 주안3동 주안3동
666 주안3동 주안3동
667 구월1동 구월1동
668 주안8동 주안8동
669 구월3동 구월3동
670 구월3동 구월3동
671 관교동 관교동
672 주안5동 주안5동
673 십정1동 십정1동
674 십정1동 십정1동
675 관교동 관교동
676 십정1동 십정1동
677 가좌4동 가좌4동
678 가좌4동 가좌4동
679 가좌1동 가좌1동
680 구월3동 구월3동
681 간석1동 간석1동
682 산곡3동 산곡3동
683 가좌4동 가좌4동
684 가좌4동 가좌4동
685 가좌4동 가좌4동
686 십정1동 십정1동
687 십정1동 십정1동
688 십정1동 십정1동
689 십정1동 십정1동
690 십정1동 십정1동
691 십정1동 십정1동
692 십정2동 십정2동
693 십정2동 십정2동
694 작전1동 작전1동
695 가좌3동 가좌3동
696 도화1동 도화1동
697 도화1동 도화1동
698 주안4동 주안4동
699 송현3동 송현3동
700 화수2동 화수2동
701 만석동 만석동
702 개항동 개항동
703 신포동 신포동
704 선학동 선학동
705 연수3동 연수3동
706 신흥동 신흥동
706 신흥동 신흥동
706 신흥동 신흥동
706 신흥동 신흥동
707 신흥동 신흥동
707 신흥동 신흥동
707 신흥동 신흥동
707 신흥동 신흥동
708 도화1동 도화1동
709 선학동 선학동
710 작전2동 작전2동
711 연수1동 연수1동
712 작전서운동 작전서운동
713 계양2동 계양2동
714 계양1동 계양1동
715 계양1동 계양1동
716 계양3동 계양3동
717 계양3동 계양3동
718 계양3동 계양3동
719 계양3동 계양3동
720 고촌읍 고촌읍
721 고촌읍 고촌읍
722 계양3동 계양3동
723 구월3동 구월3동
724 관교동 관교동
725 관교동 관교동
726 학익1동 학익1동
727 학익1동 학익1동
728 학익1동 학익1동
729 옥련1동 옥련1동
730 연수3동 연수3동
731 연수3동 연수3동
732 용현2동 용현2동
733 숭의2동 숭의2동
734 간석3동 간석3동
735 일신동 일신동
736 남촌도림동 남촌도림동
737 남촌도림동 남촌도림동
738 남촌도림동 남촌도림동
739 선학동 선학동
740 연수1동 연수1동
741 선학동 선학동
742 송림4동 송림4동
743 가좌4동 가좌4동
744 관교동 관교동
745 구월3동 구월3동
746 관교동 관교동
747 연수2동 연수2동
748 동춘3동 동춘3동
749 관교동 관교동
750 청학동 청학동
751 연수1동 연수1동
752 선학동 선학동
753 관교동 관교동
754 청학동 청학동
755 연수1동 연수1동
756 논현고잔동 논현고잔동
757 연수3동 연수3동
758 동춘1동 동춘1동
759 남촌도림동 남촌도림동
760 정왕4동 정왕4동
761 문학동 문학동
762 문학동 문학동
763 정왕3동 정왕3동
764 문학동 문학동
765 원곡동 원곡동
766 주안8동 주안8동
767 주안8동 주안8동
768 원곡동 원곡동
769 주안4동 주안4동
770 선부2동 선부2동
771 선부2동 선부2동
772 선부2동 선부2동
773 선부2동 선부2동
774 선부2동 선부2동
775 월곶동 월곶동
776 월곶동 월곶동
777 월곶동 월곶동
778 논현고잔동 논현고잔동
779 송도3동 송도3동
780 동춘2동 동춘2동
781 동춘2동 동춘2동
782 옥련2동 옥련2동
783 옥련2동 옥련2동
784 남촌도림동 남촌도림동
785 연수1동 연수1동
786 옥련2동 옥련2동
787 원당동 원당동
788 학익1동 학익1동
789 고촌읍 고촌읍
790 간석4동 간석4동
791 십정1동 십정1동
792 청천1동 청천1동
793 청천1동 청천1동
794 연희동 연희동
794 연희동 연희동
795 연희동 연희동
795 연희동 연희동
796 검암경서동 검암경서동
797 가정3동 가정3동
798 구월1동 구월1동
799 남촌도림동 남촌도림동
800 남촌도림동 남촌도림동
801 논현1동 논현1동
801 논현1동 논현1동
802 논현2동 논현2동
802 논현2동 논현2동
803 논현2동 논현2동
803 논현2동 논현2동
804 관교동 관교동
805 주안8동 주안8동
806 청학동 청학동
807 송도1동 송도1동
808 송도1동 송도1동
809 옥련2동 옥련2동
810 대야동 대야동
810 대야동 대야동
811 논현2동 논현2동
811 논현2동 논현2동
812 선학동 선학동
813 선학동 선학동
814 구월4동 구월4동
815 계산2동 계산2동
816 계산2동 계산2동
817 계산2동 계산2동
818 산곡2동 산곡2동
819 양평1동 양평1동
820 양평1동 양평1동
821 석남1동 석남1동
822 부평6동 부평6동
823 연수3동 연수3동
824 광명7동 광명7동
825 광명7동 광명7동
826 송도2동 송도2동
827 주안2동 주안2동
828 송도3동 송도3동
829 주안2동 주안2동
832 학익2동 학익2동
833 송도3동 송도3동
834 학익2동 학익2동
835 송도1동 송도1동
836 학익1동 학익1동
837 학익1동 학익1동
838 청학동 청학동
839 송도1동 송도1동
840 주안8동 주안8동
841 주안8동 주안8동
842 주안8동 주안8동
843 동춘1동 동춘1동
844 주안8동 주안8동
845 주안7동 주안7동
846 선학동 선학동
847 선학동 선학동
848 가좌4동 가좌4동
849 도화2·3동 도화2·3동
850 도화2·3동 도화2·3동
851 송림3·5동 송림3·5동
852 학익1동 학익1동
853 학익1동 학익1동
854 옥련2동 옥련2동
855 학익1동 학익1동
857 주안4동 주안4동
858 간석4동 간석4동
859 주안5동 주안5동
860 간석4동 간석4동
861 십정2동 십정2동
862 십정2동 십정2동
863 남촌도림동 남촌도림동
864 남촌도림동 남촌도림동
865 남촌도림동 남촌도림동
866 논현1동 논현1동
866 논현1동 논현1동
867 정왕본동 정왕본동
868 정왕2동 정왕2동
869 정왕2동 정왕2동
870 정왕2동 정왕2동
871 정왕3동 정왕3동
872 정왕본동 정왕본동
873 배곧동 배곧동
874 월곶동 월곶동
875 논현1동 논현1동
875 논현1동 논현1동
876 논현1동 논현1동
876 논현1동 논현1동
877 논현1동 논현1동
877 논현1동 논현1동
878 만수6동 만수6동
879 십정2동 십정2동
880 십정1동 십정1동
881 십정1동 십정1동
882 십정1동 십정1동
883 십정1동 십정1동
884 십정1동 십정1동
885 가좌3동 가좌3동
886 연희동 연희동
886 연희동 연희동
887 연희동 연희동
887 연희동 연희동
888 신현원창동 신현원창동
889 청라2동 청라2동
890 가좌1동 가좌1동
891 가좌1동 가좌1동
892 연희동 연희동
892 연희동 연희동
893 연희동 연희동
893 연희동 연희동
894 검암경서동 검암경서동
895 검암경서동 검암경서동
896 오류왕길동 오류왕길동
897 오류왕길동 오류왕길동
898 오류왕길동 오류왕길동
899 오류왕길동 오류왕길동
900 오류왕길동 오류왕길동
901 양촌읍 양촌읍
902 양촌읍 양촌읍
903 대곶면 대곶면
904 대곶면 대곶면
905 대곶면 대곶면
906 대곶면 대곶면
907 대곶면 대곶면
908 대곶면 대곶면
909 대곶면 대곶면
910 대곶면 대곶면
911 대곶면 대곶면
912 대곶면 대곶면
913 길상면 길상면
914 길상면 길상면
915 길상면 길상면
916 길상면 길상면
917 길상면 길상면
918 대곶면 대곶면
919 오류왕길동 오류왕길동
920 오류왕길동 오류왕길동
921 오류왕길동 오류왕길동
922 오류왕길동 오류왕길동
923 신현원창동 신현원창동
924 신현원창동 신현원창동
925 신현원창동 신현원창동
926 신현원창동 신현원창동
927 신현원창동 신현원창동
928 가정1동 가정1동
929 논현고잔동 논현고잔동
930 논현고잔동 논현고잔동
931 송림3·5동 송림3·5동
932 논현고잔동 논현고잔동
933 논현고잔동 논현고잔동
934 연수2동 연수2동
935 동춘3동 동춘3동
936 주안4동 주안4동
937 논현고잔동 논현고잔동
938 논현고잔동 논현고잔동
939 동춘3동 동춘3동
940 관교동 관교동
941 관교동 관교동
942 관교동 관교동
943 문학동 문학동
944 문학동 문학동
945 청학동 청학동
946 청학동 청학동
947 동춘2동 동춘2동
948 관교동 관교동
949 관교동 관교동
950 연수2동 연수2동
951 연수2동 연수2동
952 연수2동 연수2동
953 연수1동 연수1동
954 연수1동 연수1동
955 남촌도림동 남촌도림동
956 연수1동 연수1동
957 남촌도림동 남촌도림동
958 남촌도림동 남촌도림동
959 연수3동 연수3동
960 연수3동 연수3동
961 청학동 청학동
962 선학동 선학동
963 선학동 선학동
964 남촌도림동 남촌도림동
965 원당동 원당동
966 남촌도림동 남촌도림동
967 구월3동 구월3동
968 남촌도림동 남촌도림동
969 논현고잔동 논현고잔동
970 논현고잔동 논현고잔동
971 남촌도림동 남촌도림동
972 관교동 관교동
973 남촌도림동 남촌도림동
974 학익1동 학익1동
975 송도1동 송도1동
976 송도1동 송도1동
977 부평5동 부평5동
978 부평5동 부평5동
979 장수서창동 장수서창동
980 관교동 관교동
981 선학동 선학동
982 연수2동 연수2동
983 연수2동 연수2동
984 동춘2동 동춘2동
985 동춘2동 동춘2동
986 논현고잔동 논현고잔동
987 선학동 선학동
988 연수3동 연수3동
989 논현고잔동 논현고잔동
990 주안8동 주안8동
991 옥련1동 옥련1동
992 옥련2동 옥련2동
993 옥련2동 옥련2동
994 구월3동 구월3동
995 선학동 선학동
996 연수3동 연수3동
997 연수3동 연수3동
998 흥도동 흥도동
999 숭의1·3동 숭의1·3동
1000 연수1동 연수1동
1001 연수1동 연수1동
1002 청학동 청학동
1003 청학동 청학동
1004 구월2동 구월2동
1005 간석4동 간석4동
1006 십정2동 십정2동
1007 간석1동 간석1동
1008 간석1동 간석1동
1009 연수2동 연수2동
1010 선학동 선학동
1011 연수3동 연수3동
1012 연수3동 연수3동
1013 연수3동 연수3동
1014 연수3동 연수3동
1015 구월3동 구월3동
1016 청라3동 청라3동
1017 가좌1동 가좌1동
1018 송림4동 송림4동
1019 도화2·3동 도화2·3동
1020 도화2·3동 도화2·3동
1021 주안5동 주안5동
1022 신현원창동 신현원창동
1023 석남1동 석남1동
1024 청라1동 청라1동
1025 청라1동 청라1동
1026 효성2동 효성2동
1027 효성2동 효성2동
1028 작전2동 작전2동
1029 계산1동 계산1동
1030 계양2동 계양2동
1031 계양1동 계양1동
1032 계양1동 계양1동
1033 계산2동 계산2동
1034 작전1동 작전1동
1035 작전서운동 작전서운동
1036 오정동 오정동
1036 오정동 오정동
1037 고촌읍 고촌읍
1038 고촌읍 고촌읍
1039 서창2동 서창2동
1040 서창2동 서창2동
1041 남촌도림동 남촌도림동
1042 남촌도림동 남촌도림동
1043 남촌도림동 남촌도림동
1044 남촌도림동 남촌도림동
1045 석남2동 석남2동
1046 학익1동 학익1동
1047 관교동 관교동
1048 검암경서동 검암경서동
1049 가정1동 가정1동
1050 석남1동 석남1동
1051 연희동 연희동
1051 연희동 연희동
1052 검암경서동 검암경서동
1053 청라1동 청라1동
1054 청라1동 청라1동
1055 십정2동 십정2동
1056 구월3동 구월3동
1057 대산동 대산동
1058 남촌도림동 남촌도림동
1059 송도5동 송도5동
1060 주안5동 주안5동
1061 주안5동 주안5동
1062 연수1동 연수1동
1063 가좌4동 가좌4동
1064 연수2동 연수2동
1065 용현1·4동 용현1·4동
1066 동춘2동 동춘2동
1067 송도1동 송도1동
1068 옥련2동 옥련2동
1069 옥련2동 옥련2동
1070 연수2동 연수2동
1071 옥련1동 옥련1동
1072 옥련1동 옥련1동
1073 관교동 관교동
1074 관교동 관교동
1075 관교동 관교동
1076 구월3동 구월3동
1077 송도1동 송도1동
1078 동춘1동 동춘1동
1079 동춘1동 동춘1동
1080 용현3동 용현3동
1081 도화1동 도화1동
1082 학익1동 학익1동
1083 영종동 영종동
1084 영종동 영종동
1085 검암경서동 검암경서동
1086 상동 상동
1086 상동 상동
1086 상동 상동
1087 간석4동 간석4동
1088 선학동 선학동
1089 용현2동 용현2동
1090 용현1·4동 용현1·4동
1091 주안7동 주안7동
1092 선학동 선학동
1093 남촌도림동 남촌도림동
1094 남촌도림동 남촌도림동
1095 신현동 신현동
1096 동춘3동 동춘3동
1097 논현고잔동 논현고잔동
1098 문학동 문학동
1099 학익2동 학익2동
1100 월곶동 월곶동
1101 월곶동 월곶동
1102 연수3동 연수3동
1103 만수5동 만수5동
1104 관교동 관교동
1105 연수3동 연수3동
1106 남촌도림동 남촌도림동
1107 관교동 관교동
1108 주안5동 주안5동
1109 십정1동 십정1동
1110 숭의2동 숭의2동
1111 학익1동 학익1동
1112 옥련2동 옥련2동
1113 학익1동 학익1동
1114 청학동 청학동
1115 청학동 청학동
1116 청학동 청학동
1117 십정1동 십정1동
1118 송도1동 송도1동
1119 송도1동 송도1동
1120 선학동 선학동
1121 선학동 선학동
1122 구월1동 구월1동
1123 연수3동 연수3동
1124 연수2동 연수2동
1125 연수1동 연수1동
1126 논현고잔동 논현고잔동
1127 동춘3동 동춘3동
1128 연희동 연희동
1128 연희동 연희동
1129 연희동 연희동
1129 연희동 연희동
1130 연희동 연희동
1130 연희동 연희동
1131 연희동 연희동
1131 연희동 연희동
1132 연희동 연희동
1132 연희동 연희동
1133 효성2동 효성2동
1134 청천2동 청천2동
1135 산곡3동 산곡3동
1136 산곡3동 산곡3동
1137 부평3동 부평3동
1138 산곡3동 산곡3동
1139 산곡3동 산곡3동
1140 부개2동 부개2동
1141 부개2동 부개2동
1142 부개2동 부개2동
1143 상동 상동
1143 상동 상동
1143 상동 상동
1144 심곡동 심곡동
1145 중동 중동
1145 중동 중동
1146 중동 중동
1146 중동 중동
1147 중동 중동
1147 중동 중동
1148 중동 중동
1148 중동 중동
1149 대산동 대산동
1150 서창2동 서창2동
1151 서창2동 서창2동
1152 서창2동 서창2동
1153 원당동 원당동
1154 원당동 원당동
1155 연수1동 연수1동
1156 남촌도림동 남촌도림동
1157 남촌도림동 남촌도림동
1158 간석2동 간석2동
1159 주안2동 주안2동
1160 주안1동 주안1동
1161 신월3동 신월3동
1162 화곡2동 화곡2동
1163 계양1동 계양1동
1164 아라동 아라동
1164 아라동 아라동
1165 논현1동 논현1동
1165 논현1동 논현1동
1166 남촌도림동 남촌도림동
1167 남촌도림동 남촌도림동
1168 당하동 당하동
1169 만수1동 만수1동
1170 종로1·2·3·4가동 종로1·2·3·4가동
1171 구월3동 구월3동
1172 당하동 당하동
1173 당하동 당하동
1174 당하동 당하동
1175 당하동 당하동
1176 원당동 원당동
1177 원당동 원당동
1178 원당동 원당동
1179 신월3동 신월3동
1180 화곡1동 화곡1동
1181 화곡1동 화곡1동
1182 화곡1동 화곡1동
1183 목5동 목5동
1184 목5동 목5동
1185 목5동 목5동
1186 당하동 당하동
1187 성산1동 성산1동
1188 구월1동 구월1동
1189 신촌동 신촌동
1189 신촌동 신촌동
1189 신촌동 신촌동
1190 원당동 원당동
1191 망원2동 망원2동
1192 망원2동 망원2동
1193 망원2동 망원2동
1194 원당동 원당동
1195 원당동 원당동
1196 신정4동 신정4동
1196 신정4동 신정4동
1197 당하동 당하동
1198 당하동 당하동
1199 성곡동 성곡동
1200 당하동 당하동
1201 당하동 당하동
1202 당하동 당하동
1203 검암경서동 검암경서동
1204 검암경서동 검암경서동
1205 검암경서동 검암경서동
1206 남촌도림동 남촌도림동
1207 과림동 과림동
1208 과림동 과림동
1209 청천1동 청천1동
1210 가정3동 가정3동
1211 소하2동 소하2동
1212 소하2동 소하2동
1213 가정3동 가정3동
1214 가정3동 가정3동
1215 소하2동 소하2동
1216 소하2동 소하2동
1217 석남3동 석남3동
1218 주안5동 주안5동
1219 성남동 성남동
1219 성남동 성남동
1220 성남동 성남동
1220 성남동 성남동
1221 이화동 이화동
1222 성남동 성남동
1222 성남동 성남동
1223 수진2동 수진2동
1224 간석2동 간석2동
1225 신촌동 신촌동
1225 신촌동 신촌동
1225 신촌동 신촌동
1226 복정동 복정동
1227 위례동 위례동
1227 위례동 위례동
1227 위례동 위례동
1228 서강동 서강동
1228 서강동 서강동
1229 주안5동 주안5동
1230 신정4동 신정4동
1230 신정4동 신정4동
1231 주안4동 주안4동
1232 주안7동 주안7동
1233 주안7동 주안7동
1234 문학동 문학동
1235 작전서운동 작전서운동
1236 청학동 청학동
1237 옥련1동 옥련1동
1238 상동 상동
1238 상동 상동
1238 상동 상동
1239 일신동 일신동
1240 일신동 일신동
1241 일신동 일신동
1242 장수서창동 장수서창동
1243 선학동 선학동
1244 선학동 선학동
1245 청학동 청학동
1246 연수1동 연수1동
1247 선학동 선학동
1248 구월1동 구월1동
1249 연안동 연안동
1250 연안동 연안동
1251 연안동 연안동
1252 용현5동 용현5동
1253 십정1동 십정1동
1254 용현5동 용현5동
1255 연안동 연안동
1256 연안동 연안동
1257 연안동 연안동
1258 연안동 연안동
1259 신흥동 신흥동
1259 신흥동 신흥동
1259 신흥동 신흥동
1259 신흥동 신흥동
1260 숭의1·3동 숭의1·3동
1261 숭의1·3동 숭의1·3동
1262 숭의2동 숭의2동
1263 선학동 선학동
1264 구월3동 구월3동
1265 구월3동 구월3동
1266 옥련1동 옥련1동
1267 검암경서동 검암경서동
1268 청학동 청학동
1269 옥련2동 옥련2동
1270 옥련2동 옥련2동
1271 연수1동 연수1동
1272 연수1동 연수1동
1273 옥련2동 옥련2동
1274 송도1동 송도1동
1275 연수2동 연수2동
1276 연수1동 연수1동
1277 연수1동 연수1동
1278 석남2동 석남2동
1279 영종동 영종동
1280 선학동 선학동
1281 청라3동 청라3동
1282 선학동 선학동
1283 송림4동 송림4동
1284 송도1동 송도1동
1285 청학동 청학동
1286 가좌3동 가좌3동
1287 연수1동 연수1동
1288 선학동 선학동
1289 구월1동 구월1동
1290 연수1동 연수1동
1291 만수1동 만수1동
1292 연수2동 연수2동
1293 만수5동 만수5동
1294 연수3동 연수3동
1295 연수2동 연수2동
1296 송도3동 송도3동
1297 논현2동 논현2동
1297 논현2동 논현2동
1298 상동 상동
1298 상동 상동
1298 상동 상동
1299 작전서운동 작전서운동
1300 작전서운동 작전서운동
1301 삼산1동 삼산1동
1302 반포1동 반포1동
1303 청라1동 청라1동
1304 옥련2동 옥련2동

In [318]:
region_df=pd.DataFrame({'index':index,'region':region})

In [319]:
region_df=region_df.drop_duplicates(['index'], keep = 'first', ignore_index=True)
region_df

      index   region
0         0  2304054
1         1  2304055
2         2  2305074
3         3  1123052
4         4  2304055
...     ...      ...
1401   1401  2309052
1402   1402  2304055
1403   1403  2306053
1404   1404  2306053
1405   1405  2309060

[1406 rows x 2 columns]

In [224]:
region_df.to_csv('data/region_df.csv', encoding='utf-8',index=False)

In [320]:
region_li=region_df['region']

In [321]:
region_li

0       2304054
1       2304055
2       2305074
3       1123052
4       2304055
         ...
1401    2309052
1402    2304055
1403    2306053
1404    2306053
1405    2309060
Name: region, Length: 1406, dtype: int64

In [322]:
pot_pd['region_id']=region_li
pot_pd

,latitude,link_id,dist_level3,longitude,full_addr,date,region_id
0,37.409824,1640014400,연수2동,126.684960,인천광역시 연수구 연수2동,2021-10-26,2304054
1,37.420063,1640025800,연수3동,126.695970,인천광역시 연수구 연수3동,2021-10-26,2304055
2,37.403645,1650028700,논현고잔동,126.689156,인천광역시 남동구 논현고잔동,2021-10-26,2305074
3,37.409744,1650080300,논현1동,126.734550,인천광역시 남동구 논현1동,2021-10-26,1123052
4,37.420310,1640025800,연수3동,126.696190,인천광역시 연수구 연수3동,2021-10-26,2304055
...,...,...,...,...,...,...,...
1401,37.459873,1630033400,숭의2동,126.648380,인천광역시 미추홀구 숭의2동,2021-08-11,2309052
1402,37.421093,1640035900,연수3동,126.696850,인천광역시 연수구 연수3동,2021-08-11,2304055
1403,37.478928,1650010901,부평3동,126.710495,인천광역시 부평구 부평3동,2021-08-11,2306053
1404,37.486385,1660012900,부평3동,126.707780,인천광역시 부평구 부평3동,2021-08-11,2306053
1405,37.436370,1630166900,학익1동,126.648720,인천광역시 미추홀구 학익1동,2021-08-11,2309060

In [323]:
pot_pd.rename(columns={'dist_level3':'dong'})

,latitude,link_id,dong,longitude,full_addr,date,region_id
0,37.409824,1640014400,연수2동,126.684960,인천광역시 연수구 연수2동,2021-10-26,2304054
1,37.420063,1640025800,연수3동,126.695970,인천광역시 연수구 연수3동,2021-10-26,2304055
2,37.403645,1650028700,논현고잔동,126.689156,인천광역시 남동구 논현고잔동,2021-10-26,2305074
3,37.409744,1650080300,논현1동,126.734550,인천광역시 남동구 논현1동,2021-10-26,1123052
4,37.420310,1640025800,연수3동,126.696190,인천광역시 연수구 연수3동,2021-10-26,2304055
...,...,...,...,...,...,...,...
1401,37.459873,1630033400,숭의2동,126.648380,인천광역시 미추홀구 숭의2동,2021-08-11,2309052
1402,37.421093,1640035900,연수3동,126.696850,인천광역시 연수구 연수3동,2021-08-11,2304055
1403,37.478928,1650010901,부평3동,126.710495,인천광역시 부평구 부평3동,2021-08-11,2306053
1404,37.486385,1660012900,부평3동,126.707780,인천광역시 부평구 부평3동,2021-08-11,2306053
1405,37.436370,1630166900,학익1동,126.648720,인천광역시 미추홀구 학익1동,2021-08-11,2309060

In [324]:
pot_pd.to_csv('data/Incheon_pothole_list.csv',encoding='utf-8',index=False)

In [28]:
pot_1=pot_pd[:200]
pot_1.to_csv('data/pot/pot_pd1.csv', encoding='CP949', index=False)

In [29]:
pot_2=pot_pd[201:400]
pot_3=pot_pd[401:600]
pot_4=pot_pd[601:800]
pot_5=pot_pd[801:1000]
pot_6=pot_pd[1001:1200]
pot_7=pot_pd[1201:1400]
pot_8=pot_pd[1401:]
pot_2.to_csv('data/pot/pot_pd2.csv', encoding='CP949', index=False)
pot_3.to_csv('data/pot/pot_pd3.csv', encoding='CP949', index=False)
pot_4.to_csv('data/pot/pot_pd4.csv', encoding='CP949', index=False)
pot_5.to_csv('data/pot/pot_pd5.csv', encoding='CP949', index=False)
pot_6.to_csv('data/pot/pot_pd6.csv', encoding='CP949', index=False)
pot_7.to_csv('data/pot/pot_pd7.csv', encoding='CP949', index=False)
pot_8.to_csv('data/pot/pot_pd8.csv', encoding='CP949', index=False)

In [12]:
pt1=pd.read_csv('data/pot/potshp/pot_pd1.shp.csv', encoding='CP949')
pt1

,No,latitude,link_id,longitude,경도,지번주소,도로명주소
0,1,37.409824,1640014400,126.684960,NaN,인천광역시 연수구 연수동 647,인천광역시 연수구 청능대로 175
1,2,37.420063,1640025800,126.695970,NaN,인천광역시 연수구 연수동 637,인천광역시 연수구 선학로 2
2,3,37.403645,1650028700,126.689156,NaN,인천광역시 남동구 고잔동 778,인천광역시 남동구 남동서로144번길 3
3,4,37.409744,1650080300,126.734550,NaN,인천광역시 남동구 논현동 685,인천광역시 남동구 청능대로715번길 63
4,5,37.420310,1640025800,126.696190,NaN,인천광역시 연수구 연수동 637,인천광역시 연수구 선학로 2
...,...,...,...,...,...,...,...
194,196,37.409943,1640015700,126.685550,NaN,인천광역시 연수구 연수동 647,인천광역시 연수구 청능대로 205
195,197,37.408405,1650032102,126.687420,NaN,인천광역시 남동구 고잔동 747,인천광역시 남동구 승기천로 174
196,198,37.421550,1640035900,126.697174,NaN,인천광역시 연수구 연수동 637,인천광역시 연수구 경원대로 412
197,199,37.422314,1640035301,126.647170,NaN,인천광역시 연수구 옥련동 473-1,인천광역시 연수구 한나루로 84
198,200,37.418564,1640025600,126.692930,NaN,인천광역시 연수구 연수동 646,인천광역시 연수구 원인재로 286

In [3]:
pt2=pd.read_csv('data/pot/potshp/pot_pd2.shp.csv', encoding='CP949')
pt2

,No,latitude,link_id,longitude,경도,지번주소,도로명주소
0,1,37.506935,1663190801,126.734860,NaN,인천광역시 부평구 삼산동 466,인천광역시 부평구 길주로 651
1,2,37.398530,1650027200,126.689400,NaN,인천광역시 남동구 고잔동 782,인천광역시 남동구 앵고개로 445
2,3,37.419704,1640025800,126.695780,NaN,인천광역시 연수구 선학동 384,인천광역시 연수구 선학로 2
3,4,37.426086,1640049200,126.644820,NaN,인천광역시 연수구 옥련동 196-9,인천광역시 연수구 독배로 56
4,5,37.461205,1650276900,126.697586,NaN,인천광역시 남동구 간석동 550,인천광역시 남동구 석산로 52
...,...,...,...,...,...,...,...
194,195,37.457863,1630034900,126.689125,NaN,인천광역시 미추홀구 주안동 958,인천광역시 미추홀구 경인로 442
195,196,37.464237,1630171301,126.673300,NaN,인천광역시 미추홀구 도화동 555,인천광역시 미추홀구 주안로 36
196,197,37.442467,1630016900,126.692000,NaN,인천광역시 미추홀구 관교동 520,인천광역시 미추홀구 경원대로658번길 5-41
197,198,37.451195,1630026100,126.682816,NaN,인천광역시 미추홀구 주안동 1484,인천광역시 미추홀구 인주대로 416-2
198,199,37.438800,1650047500,126.705540,NaN,인천광역시 남동구 구월동 811-9,인천광역시 남동구 매소홀로 747

In [5]:
pt3=pd.read_csv('data/pot/potshp/pot_pd3.shp.csv', encoding='CP949')
pt3

,No,latitude,link_id,longitude,경도,지번주소,도로명주소
0,1,37.440750,1630014502,126.698395,NaN,인천광역시 미추홀구 관교동 16,인천광역시 미추홀구 문화로 22
1,2,36.982700,2140009211,126.880690,NaN,경기도 평택시 포승읍 내기리 2-6,경기도 평택시 포승읍 서동대로 1145-1
2,3,36.992317,2140016101,126.864020,NaN,경기도 평택시 포승읍 도곡리 산 58-3,경기도 평택시 포승읍 포승향남로 194-75
3,4,37.446190,1650011703,126.700610,NaN,인천광역시 남동구 구월동 1335-4,인천광역시 남동구 예술로 138
4,5,37.033140,2140027301,126.877980,NaN,경기도 평택시 청북읍 고잔리 1483-2,경기도 평택시 청북읍 고잔5길 1-97
...,...,...,...,...,...,...,...
194,195,37.437977,1630000600,126.666664,NaN,인천광역시 미추홀구 학익동 96-16,인천광역시 미추홀구 매소홀로418번길 14-57
195,196,37.406677,1640012400,126.674530,NaN,인천광역시 연수구 동춘동 957,인천광역시 연수구 원인재로 81
196,197,37.437860,1650046102,126.732250,NaN,인천광역시 남동구 수산동 393-4,인천광역시 남동구 소래로 545
197,198,37.405594,1640244200,126.658250,NaN,인천광역시 연수구 동춘동 719-36,인천광역시 연수구 능허대로 356
198,199,37.368904,2240366302,126.732620,NaN,경기도 시흥시 정왕동 2505,경기도 시흥시 서해안로 529

In [6]:
pt4=pd.read_csv('data/pot/potshp/pot_pd4.shp.csv', encoding='CP949')
pt4

,No,latitude,link_id,longitude,경도,지번주소,도로명주소
0,1,37.433483,1650004500,126.724330,NaN,인천광역시 남동구 수산동 276-3,인천광역시 남동구 배려터로 32
1,2,37.375248,1640095100,126.636856,NaN,인천광역시 연수구 송도동 51,인천광역시 연수구 하모니로 271
2,3,37.412970,1640246600,126.663510,NaN,인천광역시 연수구 동춘동 236,인천광역시 연수구 청량로 11
3,4,37.393803,1640248700,126.665405,NaN,인천광역시 연수구 동춘동 916-3,인천광역시 연수구 아암대로 843
4,5,37.403435,1640322301,126.629750,NaN,인천광역시 연수구 송도동 29-18,인천광역시 연수구 아트센터대로168번길 101
...,...,...,...,...,...,...,...
194,195,37.538680,1680005922,126.676540,NaN,인천광역시 서구 심곡동 산 68-2,인천광역시 서구 서곶로 246
195,196,37.568596,1680051105,126.664270,NaN,인천광역시 서구 검암동 414-164,인천광역시 서구 검바위로 105
196,197,37.518085,1680016100,126.677900,NaN,인천광역시 서구 가정동 591-1,인천광역시 서구 가석로 376
197,198,37.449770,1650280102,126.708015,NaN,인천광역시 남동구 구월동 1331,인천광역시 남동구 인주대로 641
198,199,37.433544,1650046101,126.732390,NaN,인천광역시 남동구 수산동 375-3,인천광역시 남동구 소래로482번길 10

In [7]:
pt5=pd.read_csv('data/pot/potshp/pot_pd5.shp.csv', encoding='CP949')
pt5

,No,latitude,link_id,longitude,경도,지번주소,도로명주소
0,1,37.399403,1650233500,126.740240,NaN,인천광역시 남동구 논현동 111-329,인천광역시 남동구 아암대로 1634-2
1,2,37.404926,1650081200,126.710610,NaN,인천광역시 남동구 논현동 685,인천광역시 남동구 은봉로 177
2,3,37.407700,1650033100,126.704350,NaN,인천광역시 남동구 논현동 473-3,인천광역시 남동구 남동동로 255
3,4,37.443012,1630019100,126.691475,NaN,인천광역시 미추홀구 관교동 520,인천광역시 미추홀구 경원대로670번길 5-15
4,5,37.450890,1630025700,126.686410,NaN,인천광역시 미추홀구 주안동 1484,인천광역시 미추홀구 인주대로446번길 3
...,...,...,...,...,...,...,...
187,195,37.426918,1640050303,126.699060,NaN,인천광역시 연수구 선학동 255-4,인천광역시 연수구 경원대로 480
188,196,37.420155,1640030000,126.689980,NaN,인천광역시 연수구 연수동 646,인천광역시 연수구 함박뫼로 220
189,197,37.418613,1640025600,126.692900,NaN,인천광역시 연수구 연수동 646,인천광역시 연수구 원인재로 286
190,198,37.648070,2180013902,126.854730,NaN,경기도 고양시 덕양구 성사동 308-6,경기도 고양시 덕양구 흥도로 493-3
191,199,37.463740,1630042300,126.643830,NaN,인천광역시 미추홀구 숭의동 162-14,인천광역시 미추홀구 석정로 46

In [8]:
pt6=pd.read_csv('data/pot/potshp/pot_pd6.shp.csv', encoding='CP949')
pt6

,No,latitude,link_id,longitude,경도,지번주소,도로명주소
0,1,37.423832,1640324601,126.687325,NaN,인천광역시 연수구 연수동 637,인천광역시 연수구 함박로91번길 20
1,2,37.417595,1640021301,126.674460,NaN,인천광역시 연수구 청학동 509,인천광역시 연수구 용담로 73
2,3,37.417595,1640021301,126.674460,NaN,인천광역시 연수구 청학동 509,인천광역시 연수구 용담로 73
3,4,37.453842,1650060000,126.714520,NaN,인천광역시 남동구 구월동 27,인천광역시 남동구 용천로 50
4,5,37.468723,1650010100,126.707850,NaN,인천광역시 남동구 간석동 215-1,인천광역시 남동구 경인로 661
...,...,...,...,...,...,...,...
194,195,37.593655,1680058903,126.697910,NaN,인천광역시 서구 원당동 901,인천광역시 서구 원당대로 865
195,196,37.529180,1140026201,126.859240,NaN,서울특별시 양천구 신정동 1060,서울특별시 양천구 국회대로 220
196,197,37.588474,1680056602,126.685165,NaN,인천광역시 서구 당하동 748-5,인천광역시 서구 드림로 434-12
197,198,37.588490,1680056602,126.683990,NaN,인천광역시 서구 당하동 748-5,인천광역시 서구 드림로 406-1
198,199,37.522850,2420269300,126.817740,NaN,경기도 부천시 고강동 445-10,경기도 부천시 역곡로 434-14

In [9]:
pt7=pd.read_csv('data/pot/potshp/pot_pd7.shp.csv', encoding='CP949')
pt7

,No,latitude,link_id,longitude,경도,지번주소,도로명주소
0,1,37.587960,1680056602,126.681984,NaN,인천광역시 서구 당하동 828-2,인천광역시 서구 드림로 402
1,2,37.587597,1680056602,126.680950,NaN,인천광역시 서구 당하동 828-2,인천광역시 서구 드림로 386
2,3,37.567540,1680008304,126.676384,NaN,인천광역시 서구 검암동 362,인천광역시 서구 도요지로189번길 141
3,4,37.568333,1680078200,126.673520,NaN,인천광역시 서구 검암동 370-18,인천광역시 서구 간재울2길 73-3
4,5,37.568290,1680078200,126.671580,NaN,인천광역시 서구 검암동 370-18,인천광역시 서구 검바위로 46
...,...,...,...,...,...,...,...
194,195,37.447674,1650051700,126.699356,NaN,인천광역시 남동구 구월동 1335-4,인천광역시 남동구 문화로 95
195,196,37.431393,2240899000,126.773315,NaN,경기도 시흥시 신천동 500,경기도 시흥시 서해안로 1371
196,197,37.399720,1640009600,126.674490,NaN,인천광역시 연수구 동춘동 958,인천광역시 연수구 경원대로 80
197,198,37.458523,1630036100,126.678970,NaN,인천광역시 미추홀구 주안동 189,인천광역시 미추홀구 경인로 350-1
198,199,37.420334,1650041602,126.706460,NaN,인천광역시 남동구 남촌동 639,인천광역시 남동구 남동대로409번길 46

In [10]:
pt8=pd.read_csv('data/pot/potshp/pot_pd8.shp.csv', encoding='CP949')
pt8

,No,latitude,link_id,longitude,경도,지번주소,도로명주소
0,1,37.459873,1630033400,126.648380,NaN,인천광역시 미추홀구 숭의동 162-14,인천광역시 미추홀구 장천로 30
1,2,37.421093,1640035900,126.696850,NaN,인천광역시 연수구 연수동 637,인천광역시 연수구 경원대로 412
2,3,37.478928,1650010901,126.710495,NaN,인천광역시 부평구 십정동 592,인천광역시 부평구 경인로 773
3,4,37.486385,1660012900,126.707780,NaN,인천광역시 부평구 십정동 540-13,인천광역시 부평구 마장로 86
4,5,37.436370,1630166900,126.648720,NaN,인천광역시 미추홀구 학익동 산 143-3,인천광역시 미추홀구 독배로174번길 26

In [13]:
pt=pd.concat([pt1,pt2])
pt

,No,latitude,link_id,longitude,경도,지번주소,도로명주소
0,1,37.409824,1640014400,126.684960,NaN,인천광역시 연수구 연수동 647,인천광역시 연수구 청능대로 175
1,2,37.420063,1640025800,126.695970,NaN,인천광역시 연수구 연수동 637,인천광역시 연수구 선학로 2
2,3,37.403645,1650028700,126.689156,NaN,인천광역시 남동구 고잔동 778,인천광역시 남동구 남동서로144번길 3
3,4,37.409744,1650080300,126.734550,NaN,인천광역시 남동구 논현동 685,인천광역시 남동구 청능대로715번길 63
4,5,37.420310,1640025800,126.696190,NaN,인천광역시 연수구 연수동 637,인천광역시 연수구 선학로 2
...,...,...,...,...,...,...,...
194,195,37.457863,1630034900,126.689125,NaN,인천광역시 미추홀구 주안동 958,인천광역시 미추홀구 경인로 442
195,196,37.464237,1630171301,126.673300,NaN,인천광역시 미추홀구 도화동 555,인천광역시 미추홀구 주안로 36
196,197,37.442467,1630016900,126.692000,NaN,인천광역시 미추홀구 관교동 520,인천광역시 미추홀구 경원대로658번길 5-41
197,198,37.451195,1630026100,126.682816,NaN,인천광역시 미추홀구 주안동 1484,인천광역시 미추홀구 인주대로 416-2
198,199,37.438800,1650047500,126.705540,NaN,인천광역시 남동구 구월동 811-9,인천광역시 남동구 매소홀로 747

In [14]:
pt=pd.concat([pt,pt3])
pt=pd.concat([pt,pt4])
pt=pd.concat([pt,pt5])
pt=pd.concat([pt,pt6])
pt=pd.concat([pt,pt7])
pt=pd.concat([pt,pt8])

In [16]:
del pt['경도']
del pt['No']

In [257]:
pot_pd.to_csv('data/incheon_pothole_1.csv',encoding='utf-8',index=False)

In [92]:
pothole_pd=pd.read_csv('data/incheon_pothole_1.csv',encoding='utf-8')
pothole_pd

,latitude,link_id,longitude,지번주소,도로명주소
0,37.409824,1640014400,126.684960,인천광역시 연수구 연수동 647,인천광역시 연수구 청능대로 175
1,37.420063,1640025800,126.695970,인천광역시 연수구 연수동 637,인천광역시 연수구 선학로 2
2,37.403645,1650028700,126.689156,인천광역시 남동구 고잔동 778,인천광역시 남동구 남동서로144번길 3
3,37.409744,1650080300,126.734550,인천광역시 남동구 논현동 685,인천광역시 남동구 청능대로715번길 63
4,37.420310,1640025800,126.696190,인천광역시 연수구 연수동 637,인천광역시 연수구 선학로 2
...,...,...,...,...,...
1386,37.459873,1630033400,126.648380,인천광역시 미추홀구 숭의동 162-14,인천광역시 미추홀구 장천로 30
1387,37.421093,1640035900,126.696850,인천광역시 연수구 연수동 637,인천광역시 연수구 경원대로 412
1388,37.478928,1650010901,126.710495,인천광역시 부평구 십정동 592,인천광역시 부평구 경인로 773
1389,37.486385,1660012900,126.707780,인천광역시 부평구 십정동 540-13,인천광역시 부평구 마장로 86
1390,37.436370,1630166900,126.648720,인천광역시 미추홀구 학익동 산 143-3,인천광역시 미추홀구 독배로174번길 26

In [94]:
pothole_pd['dong']=pothole_pd.iloc[:,3].apply(lambda v: v.split()[2:3][0])
pothole_pd

,latitude,link_id,longitude,지번주소,도로명주소,dong
0,37.409824,1640014400,126.684960,인천광역시 연수구 연수동 647,인천광역시 연수구 청능대로 175,연수동
1,37.420063,1640025800,126.695970,인천광역시 연수구 연수동 637,인천광역시 연수구 선학로 2,연수동
2,37.403645,1650028700,126.689156,인천광역시 남동구 고잔동 778,인천광역시 남동구 남동서로144번길 3,고잔동
3,37.409744,1650080300,126.734550,인천광역시 남동구 논현동 685,인천광역시 남동구 청능대로715번길 63,논현동
4,37.420310,1640025800,126.696190,인천광역시 연수구 연수동 637,인천광역시 연수구 선학로 2,연수동
...,...,...,...,...,...,...
1386,37.459873,1630033400,126.648380,인천광역시 미추홀구 숭의동 162-14,인천광역시 미추홀구 장천로 30,숭의동
1387,37.421093,1640035900,126.696850,인천광역시 연수구 연수동 637,인천광역시 연수구 경원대로 412,연수동
1388,37.478928,1650010901,126.710495,인천광역시 부평구 십정동 592,인천광역시 부평구 경인로 773,십정동
1389,37.486385,1660012900,126.707780,인천광역시 부평구 십정동 540-13,인천광역시 부평구 마장로 86,십정동
1390,37.436370,1630166900,126.648720,인천광역시 미추홀구 학익동 산 143-3,인천광역시 미추홀구 독배로174번길 26,학익동